<!DOCTYPE html>

<head>
    <title> Sunless Sea Fortunes </title>
</head>

<body>
<h1>Ahoy, Zailor! Welcome to Sunless Seas Fortune Reader!</h1>
<h3>Get YOUR Fortune by filling out the forms below!</h3>

<form action="fortune_results" method="GET">

Please enter your first name: <input type="text" name="name"><br>

<h3>Select your gender:</h3>
    <input type="radio" name="gender" value="male"> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Other<br>

<h3>Pick your preferred poison:</h3>
    <input type="radio" name="poison" value="coffee"> Darkdrop Coffee<br>
    <input type="radio" name="poison" value="zzoup"> Zzoup<br>
    <input type="radio" name="poison" value="wine"> Mushroom Wine<br>
    <input type="radio" name="poison" value="honey"> Prisoner's Honey<br>
    <input type="radio" name="poison" value="mutersalt"> Mutersalt<br>

<h3>Which of these Unterzee locations is your favourite?</h3>
    <input type="radio" name="city" value="new london"> New London<br>
    <input type="radio" name="city" value="venderbight"> Venderbight<br>
    <input type="radio" name="city" value="uttershroom"> The Uttershroom<br>
    <input type="radio" name="city" value="polythreme"> Polythreme<br>
    <input type="radio" name="city" value="varchas"> Varchas<br>
    <input type="radio" name="city" value="port carnelian"> Port Carnelian<br>
    <input type="radio" name="city" value="visage"> Visage<br>
    <input type="radio" name="city" value="irem"> Irem<br>


<input type='submit' value='Submit'>
</form>

</body>
